@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Silkscreen:wght@700&display=swap');

.headerWrapper{
    position: sticky;
    width: 100%;
    height: 35px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 29;
    overflow: hidden;
}
.headerLogo{
    color: white;
    margin-left: 30px;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Silkscreen', cursive;
    height: 70%;
}
.headerMenuButton{
    background-image: url(../../assets/icons/menu/menutr.png);
    background-size: cover;
    border: none;
    height: 100%;
    aspect-ratio: 1;
    filter: invert(1);
}
.userinfo{
    box-sizing: border-box;
    height: 80%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}
.controls{
    height: 70%;
    width: 100px;
    display: flex;
    flex-direction: row;
}
.headerSettings{
    background-image: url(../../assets/icons/menu/circle2.png);
    background-size: cover;
    border: none;
    height: 100%;
    aspect-ratio: 1;
    filter: invert(1);
    margin-right: 20px;
    cursor: pointer;
}
@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
.headerSettings:hover{
    animation: rotate 2s linear infinite;
}
.headerlogout{
    background-image: url("https://pic.onlinewebfonts.com/svg/img_77697.png");
    background-size: cover;
    height: 100%;
    aspect-ratio: 1;
    margin-right: 30px;
    filter: invert(100%);
    cursor: pointer;
}