.cur{
    font-weight: 800;
    border-top: 1px solid rgb(165, 165, 165);
}
.cur:hover{
    background-color: rgb(139, 139, 139);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.notcur{
    color: transparent;
}
.day{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 16px;
}
