
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap');


.loginScreen{
    width: 100%;
    background-color: rgb(55, 140, 203);
}
.loginScreen--wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.helper{
    position: absolute;
}
.loginForm{
    color: white;
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
}
.button{
    background-color: white;
    color: rgb(55, 140, 203);
    height: 22px;
    width: 170px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(50, 105, 146);
    color: white;
}
.buttonLogin{
    margin-top: 30px;
}
.input{
    border: none;
    border-radius: 5px;
    resize: none;
    outline: none;
    background-color: rgb(92, 166, 223);
    color: white;
    margin-bottom: 5px;
    width: 170px;
}
.input:focus{
    background-color: rgba(170, 208, 237, 0.734);
}
input::placeholder {
    text-align: center;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    background-color: transparent !important;
    box-shadow: 0 0 0 100px rgba(114, 163, 253, 0.366) inset;
    filter: none !important;
}
.label{
    font-size: 10px;
    font-family: 'Inter Tight', sans-serif;
}
.welcome{
    
}
.errorlogin{
    font-size: 20px;
    color: rgb(185, 76, 76);
}